.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.box {
    width: 100%;
    margin: 50px 10px 0 10px;
    max-width: 300px;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
  
.box h2 {
    margin-top: 0;
    color: #e6e6e6;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 700;
}

.link-btn {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333333;
    color: #e6e6e6;
    font-family: 'Poppins';
    font-size: 1.05rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.link-btn:hover {
    background-color: #383838;
}