body{
    margin: 0;
    background-color: #292929;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 700;
    color: #e6e6e6;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #727272;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.line{
    width: 25px;
    height: 3px;
    background-color: #e6e6e6;
    margin: 5px;
}

@media screen and (max-width: 999px){
    .nav-links{
        position: fixed;
        height: calc(100% - 69px);
        width: 100%;
        margin: 0;
        top: 69px;
        left: 0;
        padding: 0;
        background-color: #292929;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all .5s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
        box-sizing: border-box;
    }

    .nav-links.open{
        transform: translateX(0);
    }

    .hamburger{
        display: block;
    }
}